@font-face{
    font-family:fuente1;
    src: url();
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fuente1';
}
body{
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*------------------Cabecera-----------------*/

#landingEstruc{
    position: relative;
    min-height: 600px;
}


.titulo a{
    text-decoration: none;
    color: white;
    margin: 0px auto;
}


.cabecera{
    width: 100%;
    height: 100px;
    float: left;
    position: fixed;
    top: 0;left: 0;
    background-color: #000
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    height: 100px;
    margin: auto;
    background-color: #000;
}
.titulo{
    float: left;
    height: 100px;
    line-height:100px;
    background-color: #000;
}


.contenedor .logo{
    float: left;
    line-height:100px;
    background-color: #000;
}

.logo{
    float: left;
    margin-top: 10px;
    height: 150px;
    width: 100px;
}

.titulo h1{
    color: white;
    font-size: 3em;
    margin-left: 250px;
    font-size: 40px;
}

#enlancetitulo:hover{
    color: #D98520;
}

.contenedor .menu{
    float: right;
    line-height: 100px;
    background-color: #000;
    
}
.contenedor .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    margin-right: 5px;
}
.contenedor .menu a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    background: #D98520;
    color: black;
}

/*--------------------------Cabecera---------------------*/



/*------------------Presentacion-----------------*/
#bodylanding{
    width: 90%;
    max-width: 1200px;
    margin:0px auto;
    left: 0;
    color: #fff;
    padding-top: 150px;
    line-height: 1.6;
    font-family: 'fuente1';
}

#bodylanding h2{
    display: block;
    width: 850px;
    margin:0px auto;
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
}  
#bodylanding h2 span {
    color: #D98520;
}
/*------------------Presentacion-----------------*/


/*------------------FORMULARIO -----------------*/

.contact-form {
    float: left;
    width: 550px;
    height: 500px;
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form h3 {
    color: #D98520;
    text-align: center;
    size: 20px;
}
.contact-form form label {
    font-size: 20px;
    display: block;
    float: left;
    width: fit-content;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form p {
    margin: 0;
    padding: 1.2em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #D98520;
}

.contact-form form button {
    background: #D98520;
    border: 0;
    text-transform: uppercase;
    padding: 1.2em;
    margin: 10px 0px;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #D98520;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contenidoform:hover{
	transform: translateY(-15px);
	box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
	transition: all 0.50s;
}

.contact-info {
    font-size: 20px;
    float: left;
    width: 650px;
    height: 450px;
    background: #000;
}

.containergaleria{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 650px;
	margin: auto;

}

.containergaleria img{
    width: 500px;

}
ul{
    list-style: none;
    padding: 0;
}

.contact-info h4{
    text-align: center;
    margin: 0 0 1rem 0;
    color: #D98520;
}


.contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;

}
.contact-form a{
    text-decoration: none;
    color: white;
    margin: 0px auto;
}
#enlance-form:hover{
    color: #D98520;
}




 /*----------------Tarjetas de Productos--------------------*/

 

#productos{
    position: relative;
    width: 90%;
    max-width: 1300px;
    margin:0px auto;
    left: 0;
    margin-top: 550px;
    color: #fff;
    line-height: 1.6;
    font-family: 'fuente1';
}

.card{
    position: relative;
    float: left;
    width: 300px;
    height: 350px;
    margin: 10px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card .front{   
     transform:  perspective(600px) rotateY(0deg);
     box-shadow: 0px 5px 10px #D98520;
 }
 .card .front img{
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .card .front h3{
     position: absolute;
     bottom: 0px;
     width: 100%;
     height: 45px;
     color: white;
     background: rgba(0,0,0,0.6);
     text-align: center;
     box-shadow: 0px 5px 10px #0000;
 
 }
 
 .card .back{
     transform: perspective(600px) rotateY(180deg);
     background: #222222;
     padding: 15px;
     color: aliceblue;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     box-shadow: 0px 5px 10px black;
 }
 
 .card .back .link{
     border-top: 1px #f3f3f3;
     height: 50px;
     line-height: 50px;
 }
 
 .card .back h3{
     font-size: 30px;
     margin-top: 20px;
     letter-spacing: 2px
 }
 
 .card .back .p{
     letter-spacing: 1px;
 }
 .card .back a{
    text-decoration: none;
    color: white;
    margin: 0px auto;
}

.card .back a:hover{
    color: #D98520;
}

 
 .card:hover .front{
     transform: perspective(600px) rotateY(180deg);
 }
 .card:hover .back{
     transform: perspective(600px) rotateY(360deg);
 }

 /*----------------Tarjetas de Productos--------------------*/



 
/****************PIE DE PAGINA****************/

.center-align{
	margin: 0 auto;
	width: 1100px;
}

.black{color: black;
}
.yellow{color: #D98520;
}


.section-columns > div{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.section-columns h2{
	font-size: 70px;
	font-family: fuente1;
}



.section-columns h3{
	font-size: 26px;
	font-weight: lighter;
	line-height: 40px;

}
.section-columns p{
	font-weight: lighter;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 10px;
}

.section-columns #bio{
	height: 600px;
}


#footer{
	margin-top: -50px;
	padding-top: 50px;
	height: 850px;
}

#footer h3{
	color: #D98520; 
	padding-top: 70px; 
	margin: 0;
	font-size: 30px;
	font-family: fuente1;
}

#footer p {
	color: whitesmoke;
 	padding-bottom: 30px;
 	font-size: 20px;
}


.bg-black{
	background-color: #222222;
}

.btn{
	border: solid 1px;
	padding: 20px 40px;
	text-decoration: none;
	margin-right: 10px;
}
.btn-black{
	border-color: black;
	color: black;
	
}
.btn-black:hover{
	background-color: black;
	border-color: white;
	color: white;
	transition: all 0.50s;
}
.btn-yellow{
	border-color: white;
	color: white;
	transition: all 0.50s;
}

.btn-yellow:hover{
	background-color: #D98520;
	border-color: white;
	color: black;
	transition: all 0.50s;
}

.map{
    margin-top: -4%;
	margin-left: 40%;
}








